/*
** Module   :PUMON2.RC
** Abstract :Resource definition for PUMON
**
** Copyright (C) Sergey I. Yevtushenko
** Log: Thu  04/03/1998 Created
**      Thu  25/06/1998 Updated
**      Wed  15/07/1998 Updated
*/

#include <os2.h>
#include <id.h>
#include <id2.h>

MENU ID_MENU
{
    MENUITEM "~About"    , ID_MENU_ABOUT, MIS_TEXT
    MENUITEM "~Settings" , ID_MENU_SET  , MIS_TEXT | MIS_SUBMENU
    {
        MENUITEM "~General"       , ID_MENU_SET_0, MIS_TEXT
        MENUITEM "~CPU Meter"     , ID_MENU_SET_1, MIS_TEXT
        MENUITEM "~Memory Meter"  , ID_MENU_SET_2, MIS_TEXT
        MENUITEM "~TCP/IP Traffic", ID_MENU_SET_3, MIS_TEXT
        MENUITEM "M~ail Checker 1", ID_MENU_SET_4, MIS_TEXT
        MENUITEM "M~ail Checker 2", ID_MENU_SET_5, MIS_TEXT
        MENUITEM "M~ail Checker 3", ID_MENU_SET_6, MIS_TEXT
        MENUITEM "M~ail Checker 4", ID_MENU_SET_7, MIS_TEXT
        MENUITEM "M~ail Checker 5", ID_MENU_SET_8, MIS_TEXT
        MENUITEM "C~onnectivity"  , ID_MENU_SET_9, MIS_TEXT
    }
    MENUITEM ""            ,            -1, MIS_SEPARATOR
    MENUITEM "Read ~Mail  ", ID_MENU_MAIL , MIS_TEXT
    MENUITEM ""            ,            -1, MIS_SEPARATOR
    MENUITEM "~Close"      , ID_MENU_CLOSE, MIS_TEXT
}

DLGTEMPLATE ID_P_1FORM
{
  DIALOG    "", ID_P_1FORM, 0,0,220,130, NOT FS_DLGBORDER, 0
  {
    CONTROL "~Enabled",    1005,   40, 112, 48, 10, WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000002
    CONTROL "S~eparate number", 1030, 40, 102, 68, 10, WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000002
    ICON    ICO_MAILER,   -1,   4, 102, 32, 32, WS_VISIBLE
    CONTROL "",         1003, 144, 102, 28, 10, WC_SPINBUTTON, WS_VISIBLE | WS_TABSTOP | 0x00000011
    CONTROL "~Sound Signal",1002,  8, 83,56,10, WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000002
    CONTROL "Re~peat sound",1011, 68, 83,56,10, WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000002
    CONTROL "~Run",     1004,   8,  70,  36,10, WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000002
    CONTROL "",         1008,  50,  72, 137, 7, WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008
            CTLDATA 12,261,0,0,0,0
    CONTROL "...",      1012, 192,  70,  12,10, WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP
    CONTROL "",         1013,  50,  52, 137, 8, WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008
            CTLDATA 12,261,0,0,0,0
    CONTROL "...",      1014, 192,  51,  12,10, WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP
    CONTROL "",         1000,  50,  40, 153, 7, WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008
            CTLDATA 12,261,0,0,0,0
    CONTROL "",         1007, 46,20,41,8,       WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008
            CTLDATA 12,32,0,0,0,0
    CONTROL "",         1006, 126,20,77,8,      WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008
            CTLDATA 12,261,0,0,0,0
    CONTROL "",         1016, 46,8,41,7,        WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000088
            CTLDATA 12,32,0,0,0,0
    CONTROL "",         1021, 126,8,17,7,       WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008
            CTLDATA 12,32,0,0,0,0
    CONTROL "Path",     1015, 8,51,36,10,       WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401
    CONTROL "Seconds",  1010, 176,102,28,10,    WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401
    CONTROL "Parameters",1001,8,38,36,10,       WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401
    CONTROL "User",     1017,8,19,32,10,        WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401
    CONTROL "Password", 1018,8,6,32,10,         WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401
    CONTROL "Server",   1019,92,19,28,10,       WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401
    CONTROL "Port",     1020,92,6,28,10,        WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401
    CONTROL "Account",  1022,4,3,204,32,        WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002
    CONTROL "Refresh Interval", 1023,140,99,68,19,WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002
    CONTROL "Mail reader", 1009,4,35,204,32,    WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002
    CONTROL "On new mail", 1024,4,67,204,32,    WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002
  }
}

DLGTEMPLATE ID_P_2FORM
{
  DIALOG    "", ID_P_1FORM, 0,0,220,130, NOT FS_DLGBORDER, 0
  {
    ICON    ICO_CPU, -1, 4, 102, 32, 32, WS_VISIBLE
    CONTROL "", 1003, 8,70,28,10, WC_SPINBUTTON, WS_VISIBLE | WS_TABSTOP | 0x00000011
    CONTROL "", 1100, 8,11,28,10, WC_SPINBUTTON, WS_VISIBLE | WS_TABSTOP | 0x00000011
    CONTROL "", 1002, 8,51,60,10, WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000002 | BS_AUTO3STATE
    CONTROL "~Show", 1005, 8,31,60,10, WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000002
    CONTROL "x0.1 sec", 1010, 40,70,28,10, WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401
    CONTROL "Values", 1101, 40,11,28,10, WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401
    CONTROL "Refresh Interval", 1001, 4,67,68,19, WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002
    CONTROL "Averaging", 1102, 4,8,68,19, WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002
    CONTROL "Graph", 1102, 4,48,68,19, WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002
    CONTROL "Text", 1106, 4,28,68,19, WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002
    CONTROL "Miscellaneous", 1020, 74,67,78,19, WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002
    CONTROL "Show kernel time", 1021, 78,70,70,10, WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000002 | BS_AUTOCHECKBOX
  }
}

DLGTEMPLATE ID_P_3FORM
{
  DIALOG    "", ID_P_1FORM, 0,0,220,130, NOT FS_DLGBORDER, 0
  {
    ICON    ICO_TCPIP, -1, 4, 102, 32, 32, WS_VISIBLE
    CONTROL "", 1003, 8,70,28,10, WC_SPINBUTTON, WS_VISIBLE | WS_TABSTOP | 0x00000011
    CONTROL "", 1100, 78,90,28,10, WC_SPINBUTTON, WS_VISIBLE | WS_TABSTOP | 0x00000011
    CONTROL "", 1002, 8,51,60,10, WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000002 | BS_AUTO3STATE
    CONTROL "", 1005, 8,31,60,10, WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000002 | BS_AUTO3STATE
    CONTROL "~Enable", 1006, 8,11,60,10, WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000002
    CONTROL "", 1000, 78,16,88,61, WC_COMBOBOX, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000004
    CONTROL "x0.1 sec", 1010, 40,70,28,10, WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401
    CONTROL "Values", 1101, 110,90,28,10, WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401
    CONTROL "Refresh interval", 1004, 4,67,68,19, WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002
    CONTROL "Averaging", 1102, 74,87,68,19, WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002
    CONTROL "Interface", 1001, 74, 8,96,78, WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002
    CONTROL "Graph", 1105, 4,48,68,19, WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002
    CONTROL "Text", 1106, 4,28,68,19, WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002
    CONTROL "Adaptive bar graph", 1107, 4, 8,68,19, WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002
  }
}

DLGTEMPLATE ID_P_4FORM
{
  DIALOG    "", ID_P_1FORM, 0,0,220,143, NOT FS_DLGBORDER, 0
  {
    ICON    ICO_CONNECT, -1, 4, 102, 32, 32, WS_VISIBLE
    CONTROL "", 1003, 8,83,28,9, WC_SPINBUTTON, WS_VISIBLE | WS_TABSTOP | 0x00000011
    CONTROL "", 1004, 82,101,121,7, WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008
            CTLDATA 12,261,0,0,0,0
    CONTROL "", 1000, 80,51,96,48, WC_LISTBOX, WS_VISIBLE | WS_CLIPCHILDREN | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008
    CONTROL "~Add", 1005, 180,87,32,10, WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP
    CONTROL "~Del", 1006, 180,74,32,10, WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP
    CONTROL "~Update", 1011, 180,61,32,10, WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP
    CONTROL "~Sound Signal", 1002, 8,29,56,10, WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000002
    CONTROL "~Run", 1001, 8,19,24,10, WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000002
    CONTROL "", 1008, 34,21,161,7, WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008
            CTLDATA 12,261,0,0,0,0
    CONTROL "...", 1014, 200,19,12,10, WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP
    CONTROL "", 1020, 34, 8,161,7, WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008
            CTLDATA 12,261,0,0,0,0

    CONTROL "Seconds", 1010, 40,83,28,10, WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401
    CONTROL "Refresh Interval", 1009, 4,79,68,20, WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002
    CONTROL "On loss of connectivity", 1012, 4,3,212,45, WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002
    CONTROL "Monitored sites", 1007,   76,48,140,71, WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002
  }
}

DLGTEMPLATE ID_P_5FORM
{
  DIALOG    "", ID_P_1FORM, 0,0,220,130, NOT FS_DLGBORDER, 0
  {
    ICON    ICO_RAM, -1, 4, 102, 32, 32, WS_VISIBLE
    SPINBUTTON                      1003,  8, 70, 28, 10, SPBS_NUMERICONLY | SPBS_MASTER
    LTEXT           "Seconds"     , 1010, 40, 70, 28, 10, DT_VCENTER | NOT WS_GROUP | WS_PARENTCLIP | WS_SYNCPAINT
    AUTOCHECKBOX    "~Show"       , 1005,  8, 51, 32, 10, WS_PARENTCLIP | WS_SYNCPAINT
    AUTOCHECKBOX    "~Show"       , 1006,  8, 31, 32, 10, WS_PARENTCLIP | WS_SYNCPAINT
    AUTOCHECKBOX    "~Enable"     , 1007,  8, 11, 60, 10, WS_PARENTCLIP | WS_SYNCPAINT
    AUTOCHECKBOX    "~Show"       , 1000, 81, 69, 32, 10, WS_PARENTCLIP | WS_SYNCPAINT
    AUTORADIOBUTTON "~Standard"   , 1008, 81, 52, 52, 10, WS_GROUP | WS_TABSTOP | WS_PARENTCLIP | WS_SYNCPAINT
    AUTORADIOBUTTON "~HiRes Timer", 1009, 81, 42, 52, 10, WS_TABSTOP | WS_PARENTCLIP | WS_SYNCPAINT
    GROUPBOX        "Refresh interval", 1100, 4, 67, 68, 19, NOT WS_GROUP | WS_PARENTCLIP | WS_SYNCPAINT
    GROUPBOX        "Clock" , 1101,  4, 48, 68, 19, NOT WS_GROUP | WS_PARENTCLIP | WS_SYNCPAINT
    GROUPBOX        "RAM"   , 1106,  4, 28, 68, 19, NOT WS_GROUP | WS_PARENTCLIP | WS_SYNCPAINT
    GROUPBOX        "Adaptive number", 1107,  4,  8, 68, 19, NOT WS_GROUP | WS_PARENTCLIP | WS_SYNCPAINT
    GROUPBOX        "Uptime", 1102, 74, 37, 72, 49, NOT WS_GROUP | WS_PARENTCLIP | WS_SYNCPAINT
    GROUPBOX        "Method", 1103, 77, 40, 66, 29, NOT WS_GROUP | WS_PARENTCLIP | WS_SYNCPAINT

  }
}

DLGTEMPLATE ID_P_6FORM
{
  DIALOG    "", ID_P_1FORM, 0,0,220,130, NOT FS_DLGBORDER, 0
  {
    ICON    MAIN_FRAME, -1, 4, 102, 32, 32, WS_VISIBLE
    CONTROL "PU Monitor", 1000, 12,69,210,19, WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000501
            PRESPARAMS PP_FONTNAMESIZE,"24.Helv"
    CONTROL "Copyright (C) 1998,2001  Sergey I. Yevtushenko", 1001, 12,53,210,9, WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000501
    CONTROL FCPU_VERSION2                              , 1002, 12,41,210,9, WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000501
    CONTROL "E-mail: evsi@naverex.kiev.ua"  , 1100, 12,31,210,9, WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401
    CONTROL "Homepage: http://naverex.kiev.ua/~evsi/", 1101, 12,21,210,9, WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401
    CONTROL "OpenSource version", 1003, 12,11,210,9, WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000501
  }
}

DLGTEMPLATE ID_P_7FORM
{
  DIALOG    "", ID_P_7FORM, 0,0,220,130, NOT FS_DLGBORDER, 0
  {
    AUTOCHECKBOX    "~Float on top"         , 1010,  8,115,  75,  9, WS_GROUP | WS_TABSTOP | WS_PARENTCLIP | WS_SYNCPAINT
    AUTOCHECKBOX    "~Attach to WarpCenter" , 1011,  8,105,  75,  9, WS_TABSTOP | WS_PARENTCLIP | WS_SYNCPAINT
    AUTOCHECKBOX    "~Lock in place"        , 1012,  8, 95,  75,  9, WS_TABSTOP | WS_PARENTCLIP | WS_SYNCPAINT
    GROUPBOX        "Behavior"              , 1101,  4, 94,  80, 37, NOT WS_GROUP | WS_PARENTCLIP | WS_SYNCPAINT

    SPINBUTTON                                1016,108,105,  72,  9, WS_GROUP | WS_TABSTOP | SPBS_MASTER | SPBS_JUSTLEFT | SPBS_READONLY
    SPINBUTTON                                1017,108, 96,  72,  9, WS_TABSTOP | SPBS_MASTER | SPBS_JUSTLEFT | SPBS_READONLY
    LTEXT           "Left"                  , 1018, 88,105,  18,  9, DT_VCENTER | NOT WS_GROUP | WS_PARENTCLIP | WS_SYNCPAINT
    LTEXT           "Right"                 , 1019, 88, 96,  18,  9, DT_VCENTER | NOT WS_GROUP | WS_PARENTCLIP | WS_SYNCPAINT
    AUTOCHECKBOX    "3~D font"              , 1030,182,105,  34,  9, WS_GROUP | WS_TABSTOP | WS_PARENTCLIP | WS_SYNCPAINT
    AUTOCHECKBOX    "3~D look"              , 1014,182, 96,  34,  9, WS_GROUP | WS_TABSTOP | WS_PARENTCLIP | WS_SYNCPAINT
    LTEXT           "Overlap WarpCenter buttons", 1015,88,114,100,9, DT_VCENTER | NOT WS_GROUP | WS_PARENTCLIP | WS_SYNCPAINT
    GROUPBOX        "Look"                  , 1102, 86, 94, 132, 37, NOT WS_GROUP | WS_PARENTCLIP | WS_SYNCPAINT

    AUTORADIOBUTTON "~Gray"           , 1020, 144, 78,  72,   9, WS_GROUP | WS_TABSTOP | WS_PARENTCLIP | WS_SYNCPAINT
    AUTORADIOBUTTON "~Inverse Gray"   , 1021, 144, 69,  72,   9, WS_TABSTOP | WS_PARENTCLIP | WS_SYNCPAINT
    AUTORADIOBUTTON "~Light Gray"     , 1022, 144, 60,  72,   9, WS_TABSTOP | WS_PARENTCLIP | WS_SYNCPAINT
    AUTORADIOBUTTON "D~ark Gray"      , 1023, 144, 51,  72,   9, WS_TABSTOP | WS_PARENTCLIP | WS_SYNCPAINT
    AUTORADIOBUTTON "~Green on Black" , 1024, 144, 42,  72,   9, WS_TABSTOP | WS_PARENTCLIP | WS_SYNCPAINT
    AUTORADIOBUTTON "Gray on Black ~1", 1025, 144, 33,  72,   9, WS_TABSTOP | WS_PARENTCLIP | WS_SYNCPAINT
    AUTORADIOBUTTON "Gray on Black ~2", 1026, 144, 24,  72,   9, WS_TABSTOP | WS_PARENTCLIP | WS_SYNCPAINT
    AUTORADIOBUTTON "~Combined Black" , 1027, 144, 15,  72,   9, WS_TABSTOP | WS_PARENTCLIP | WS_SYNCPAINT
    AUTORADIOBUTTON "~User defined"   , 1028, 144,  6,  72,   9, WS_TABSTOP | WS_PARENTCLIP | WS_SYNCPAINT
    GROUPBOX        "Palette"         , 1103, 140,  4,  78,  90, NOT WS_GROUP | WS_PARENTCLIP | WS_SYNCPAINT

    CONTROL "",      1000,   8, 7, 60,79, WC_LISTBOX, WS_VISIBLE | WS_CLIPCHILDREN | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008
    CONTROL "",      1004,  72,50, 60,26, WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000807
    CONTROL "",      1003, 100,33, 32, 9, WC_SPINBUTTON, WS_VISIBLE | WS_TABSTOP | 0x00000011
    CONTROL "",      1002, 100,20, 32, 9, WC_SPINBUTTON, WS_VISIBLE | WS_TABSTOP | 0x00000011
    CONTROL "",      1001, 100, 7, 32, 9, WC_SPINBUTTON, WS_VISIBLE | WS_TABSTOP | 0x00000011
    CONTROL "Sample",1005,  72,77, 24, 9, WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401
    CONTROL "Red"   ,1008,  72,33, 24, 9, WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401
    CONTROL "Green" ,1007,  72,20, 24, 9, WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401
    CONTROL "Blue"  ,1006,  72, 7, 24, 9, WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401
    GROUPBOX "Color",1009,  4,  4,134,90, NOT WS_GROUP | WS_PARENTCLIP | WS_SYNCPAINT
  }
}

DLGTEMPLATE ID_S_1FORM
{
  DIALOG    "Settings", ID_S_1FORM, 0,0,250,182, 0,  FCF_NOBYTEALIGN | FCF_DLGBORDER | FCF_TITLEBAR | FCF_SYSMENU | FCF_TASKLIST | FCF_ICON | FCF_NOMOVEWITHOWNER
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
  {
    NOTEBOOK                   1000,   0, 16, 250, 162, WS_VISIBLE | WS_TABSTOP | BKS_BACKPAGESTR | BKS_ROUNDEDTABS | BKS_TABTEXTCENTER | BKS_SPIRALBIND | 0x800
    DEFPUSHBUTTON   "~Ok"    , ID_B_OK    ,  50,  1,  40,  12
    PUSHBUTTON      "~Cancel", ID_B_CANCEL, 100,  1,  40,  12
    PUSHBUTTON      "~Apply" , ID_B_APPLY , 150,  1,  40,  12
  }
}

ICON ID_S_1FORM "pumon2.ico"
ICON MAIN_FRAME "pumon2.ico"
ICON ICO_MAILER "mailer.ico"
ICON ICO_CONNECT "inet.ico"
ICON ICO_TCPIP "tcpip.ico"
ICON ICO_CPU   "cpu.ico"
ICON ICO_RAM   "ram.ico"

